<div class="row">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align:center">Scatter-Gen</h2>
    </div>
    <div class="col-md-9">
      <canvas
        tc-chartjs-bubble
        chart-data="chartData"
        chart-options="chartOptions"
        chart-click="onChartClick(event)"
        chart-legend="bubbleChart"
      >
      </canvas>
    </div>
    <div class="col-md-3">
      <div tc-chartjs-legend chart-legend="bubbleChart" class="tc-chart-js-legend"></div>
    </div>
  </div>

  <br />
  <br />

  <div class="input-group">
    <input type="text" class="form-control" ng-model="coords" placeholder="Ex. (1, 3), (6, 7), ...">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" ng-click="createPlot(coords)">Create Plot!</button>
    </span>
  </div>
</div>  